<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kurume_nct.studybattle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".model.UnitPersonal"
        android:allowBackup="true"
        android:icon="@drawable/iconkaimdpi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/iconkaimdpi"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CreateSolutionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ItemInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CreateProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PersonalAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ScoringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MadeCollectYetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.GroupSetChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tools.CustomViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FinalScoringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ImageViewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>